<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/h2go_icon"
        android:label="H2GO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".university_SPU"></activity>
        <activity android:name=".university_MU" />
        <activity android:name=".university_TU" />
        <activity android:name=".university_CU" />
        <activity android:name=".university_KMITL" />
        <activity android:name=".PurpleLine" />
        <activity android:name=".ARL" />
        <activity android:name=".MRT" />
        <activity android:name=".BTS" />
        <activity android:name=".Activity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>